# Ignore node_modules directory
node_modules/

# Ignore macOS .DS_Store files
.DS_Store

# Ignore log files
*.log

# Ignore compiled Python files
*.pyc

# Ignore environment files
*.env

# Ignore JS build asset
public/bundle.js

#Firebase Hosting Hashes
.firebase/hosting.*