/* src/components/ui/autoGenKeys.css */
.show-formulas-btn {
  display: block;
}
.formulas-grid-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  margin: 20px auto;
  max-width: 80%;
}
.keys-column,
.values-column {
  display: grid;
  gap: 10px;
}
.grid-item {
  display: flex;
  align-items: center;
}
dt {
  font-weight: bold;
  margin-right: 10px;
}
dd {
  margin: 0;
  font-weight: normal;
}

/* src/App.css */
:root {
  --main-white: #f0f0f0;
  --main-gold: #caac00;
  --main-blue: #45567d;
  --main-gray: #303841;
  font-size: 36px;
}
