.cryptContainer {
    display: grid;
    grid-template-columns: 1fr; /* Default: 1 column */
    gap: 20px;
}

.decryptionWrapper {
    display: none; /* Initially hidden */
}

.decryptionWrapper.active {
    display: grid; /* Show when the decryption is active */
    grid-template-columns: 1fr 1fr; /* Switch to 2 columns */
    gap: 20px;
}


