:root {
  --main-white: #f0f0f0;
  --main-gold: #caac00;
  --main-blue: #45567d;
  --main-gray: #303841;

  font-size: 16px;

}

/* ----------------------------------------------------- */


/* 
.hover_buttons { 
  width: 80px; 
  height: 80px; 
  background: rgb(197, 211, 0); 
  border-radius: 20%; 
  box-shadow: 0 0 20px rgb(97, 134, 255), 
              0 0 40px rgb(97, 134, 255),  
              0 0 60px rgb(0, 27, 117),  
              0 0 80px rgb(0, 27, 117),  
              0 0 120px rgb(0, 40, 172), 
              0 0 220px rgb(107, 106, 151), 
              0px 0px 320px rgb(107, 106, 151); 
  transition:3s; 
} 

.hover_buttons:hover { 
  box-shadow: 0px 0px 3000px rgb(114, 20, 20),  
              0 0 60px rgb(20, 50, 114), 
              0 0 100px rgb(20, 50, 114), 
              0 0 120px rgb(20, 50, 114),  
              0 0 200px rgb(20, 50, 114), 
              0 0 400px rgb(20, 50, 114),  
              0 0 450px rgb(20, 50, 114); 
  transition: 3s; 
}  */

