:root {
  --main-white: #f0f0f0;
  --main-gold: #caac00;
  --main-blue: #45567d;
  --main-gray: #303841;
}
.App {
  text-align: center;
}
.get_random_primes {
  color: white
}
.get_e {
  color: white
}
.get_d {
  color: white
}
.nav {
  display: flex;
  justify-content:space-around;
  position:relative;
  padding: 10px 0; 
  font-weight: bolder; 
  font-stretch: ultra-expanded;
  top: 0;
  left: 0;
  bottom:auto;
  width: 100%;
  background: var(--main-gold);
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}



/* ----------------------------------------------------- */


body { 
  /* margin: 0; 
  padding: 0;  */
  background: rgb(40, 39, 77); 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  /* height: 100vh;  */
} 

.hover_buttons { 
  width: 80px; 
  height: 80px; 
  background: rgb(0, 26, 255); 
  border-radius: 30%; 
  box-shadow: 0 0 20px rgb(97, 134, 255), 
              0 0 40px rgb(97, 134, 255),  
              0 0 60px rgb(0, 27, 117),  
              0 0 80px rgb(0, 27, 117),  
              0 0 120px rgb(0, 27, 117), 
              0 0 220px rgb(0, 27, 117), 
              0 0 320px rgb(0, 27, 117); 
  transition:4s; 
} 

.hover_buttons:hover { 
  box-shadow: 0 0 30px rgb(20, 50, 114),  
              0 0 60px rgb(20, 50, 114), 
              0 0 100px rgb(20, 50, 114), 
              0 0 120px rgb(20, 50, 114),  
              0 0 200px rgb(20, 50, 114), 
              0 0 400px rgb(20, 50, 114),  
              0 0 450px rgb(20, 50, 114); 
} 

/* ----------------------------------------------------- */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


